<div class="template_flower">
    <div class="factory_class_left" style="display: {{ fact_display1 }}">
        <img src="{{ fact_logo1 }}" class="fact_log">
            <div style="width: 100%">
                <div class="name_info">{{ fact_name1 }}</div>  <div class="count_info">得票数：{{ fact_vote_count1 }}</div>
            </div>

        <div style="width:100%;margin-top: 10px" id="{{ fact_code1 }}">
            <img src="{{ vote_icon }}" style="width:60%;height: 2cm">
        </div>
    </div>


    <div class="factory_class_right" style="display: {{ fact_display2 }}">
        <img src="{{ fact_logo2 }}" class="fact_log">
        <div style="width: 100%">
            <div class="name_info">{{ fact_name2 }}</div>  <div class="count_info">得票数：{{ fact_vote_count2 }}</div>
        </div>

        <div style="width:100%;margin-top: 10px"  id="{{ fact_code2 }}">
            <img src="{{ vote_icon }}" style="width:60%;height: 2cm">
        </div>    </div>   </div>