<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>

    </style>

    <link rel="shortcut icon" href="/static/Icon/default.png" >

    <style>
        @import url("/static/css/vote_home.css");
    </style>


</head>

<body style="overflow-x: hidden;text-align: center;min-height: 1000px;width: 100%;background-color: #ED3C34">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vote_number.js"> </script>
        <script src="/static/js/md5.js"></script>
        <script src="/static/js/jquery.blockUI.js"> </script>
{#        <script src="/static/js/login.js"> </script>#}
    <script src="/static/js/cookie.js"> </script>

        {# 最顶端图标 #}
        <div style="width: 100% ; height: 330px">
            <img src="{{ main_logo }}" style="height: 330px;width: 750px">
        </div>

        <div class="pai_hang_back">
            <img src="{{ number1_img }}" style="width: 140px;height: 140px;float: left;margin-left: 50px;margin-top: 10px;border-radius:70px">
            <img src="/static/Images/1.png" style="width:80px; height: 80px;float: left;margin-left: 20px;margin-top: 40px">
            <div style="float: left;margin-left: 20px;font-size: 1.3cm;color: #707070;margin-top: 40px">{{ number1_name }}</div>
            <div style="float: right;font-size: 0.8cm;color: crimson;margin-right: 40px;margin-top: 55px">得票：{{ number1_vote_count }}</div>
        </div>

        <div class="pai_hang_back">
            <img src="{{ number2_img }}" style="width: 140px;height: 140px;float: left;margin-left: 50px;margin-top: 10px;border-radius:70px">
            <img src="/static/Images/2.png" style="width:80px; height: 80px;float: left;margin-left: 20px;margin-top: 40px">
            <div style="float: left;margin-left: 20px;font-size: 1.3cm;color: #707070;margin-top: 40px">{{ number2_name }}</div>
            <div style="float: right;font-size: 0.8cm;color: crimson;margin-right: 40px;margin-top: 55px">得票：{{ number2_vote_count }}</div>
        </div>

        <div class="pai_hang_back">
            <img src="{{ number3_img }}" style="width: 140px;height: 140px;float: left;margin-left: 50px;margin-top: 10px;border-radius:70px">
            <img src="/static/Images/3.png" style="width:80px; height: 80px;float: left;margin-left: 20px;margin-top: 40px">
            <div style="float: left;margin-left: 20px;font-size: 1.3cm;color: #707070;margin-top: 40px">{{ number3_name }}</div>
            <div style="float: right;font-size: 0.8cm;color: crimson;margin-right: 40px;margin-top: 55px">得票：{{ number3_vote_count }}</div>
        </div>

        <div class="pai_hang_back">
            <img src="{{ number4_img }}" style="width: 140px;height: 140px;float: left;margin-left: 50px;margin-top: 10px;border-radius:70px">
            <div style="font-size: 1.7cm; color: #666666;float: left;margin-left: 40px;margin-top: 40px">4</div>
            <div style="float: left;margin-left: 40px;font-size: 1.3cm;color: #707070;margin-top: 40px">{{ number4_name }}</div>
            <div style="float: right;font-size: 0.8cm;color: crimson;margin-right: 40px;margin-top: 55px">得票：{{ number4_vote_count }}</div>
        </div>

        <div class="pai_hang_back">
            <img src="{{ number5_img }}" style="width: 140px;height: 140px;float: left;margin-left: 50px;margin-top: 10px;border-radius:70px">
            <div style="font-size: 1.7cm; color: #666666;float: left;margin-left: 40px;margin-top: 40px">5</div>
            <div style="float: left;margin-left: 40px;font-size: 1.3cm;color: #707070;margin-top: 40px">{{ number5_name }}</div>
            <div style="float: right;font-size: 0.8cm;color: crimson;margin-right: 40px;margin-top: 55px">得票：{{ number5_vote_count }}</div>
        </div>
        <div class="pai_hang_back">
            <img src="{{ number6_img }}" style="width: 140px;height: 140px;float: left;margin-left: 50px;margin-top: 10px;border-radius:70px">
            <div style="font-size: 1.7cm; color: #666666;float: left;margin-left: 40px;margin-top: 40px">6</div>
            <div style="float: left;margin-left: 40px;font-size: 1.3cm;color: #707070;margin-top: 40px">{{ number6_name }}</div>
            <div style="float: right;font-size: 0.8cm;color: crimson;margin-right: 40px;margin-top: 55px">得票：{{ number6_vote_count }}</div>
        </div>

        <div id="pageContainer"></div>


    {#   协办品牌     #}
        <div style="margin-top: 60px;width: 590px;height: 140px;margin-bottom: 30px">
        </div>


</body>
</html>