<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>

    </style>

    <link rel="shortcut icon" href="/static/Icon/default.png" >

    <style>
        @import url("/static/css/vote_home.css");
    </style>


</head>

<body style="overflow-x: hidden;text-align: center;min-height: 1000px;width: 100%;background-image: url('/static/Images/back_img.jpg');">
    <div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/hshome.js"> </script>
        <script src="/static/js/md5.js"></script>
        <script src="/static/js/jquery.blockUI.js"> </script>
        <script src="/static/js/login.js"> </script>
    <script src="/static/js/cookie.js"> </script>

        {# 最顶端图标 #}
        <div style="width: 100% ; height: 330px">
            <img src="{{ main_logo }}" style="height: 330px;width: 750px">
        </div>


        <div style="margin-top: 30px;background-image: url('/static/Images/vote_notice.png');
        height: 1200px;width: 80%;
        background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;
        margin-left: 10%">
            <img src="/static/Images/intro_title.png" style="width: 90%;height:50px;margin-top: 50px">

            <div style="width: 100%">
            {# 专家组#}
            <div style="float: left;margin-left: 30px;height: 70px; width: 240px;color: white;font-size: 1.2cm;margin-top: 30px;
            background-image: url('/static/Images/intro_icon1.png');background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;">
                数据统计
            </div>
 </div>
            <div style="float: left;margin-left: 10%;height: 170px; width: 80%;color: #444444;font-size: 0.9cm;margin-top: 30px;text-align: left;
            padding-left: 20px;padding-top: 20px;
            background-image: url('/static/Images/intro_icon2.png');background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;">
                全渠道新媒体及网络渠道公开投票，综合得出十大厨卫电器品牌榜单，由蒂壤大数据中心进行数据分析。
            </div>

            {# 大众评审#}
            <div style="width: 100%">
                <div style="float: left;margin-left: 30px;height: 70px; width: 240px;color: white;font-size: 1.2cm;margin-top: 30px;float: left;
                background-image: url('/static/Images/intro_icon1.png');background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;">
                    参评用户
                </div>
            </div>

            <div style="float: left;margin-left: 10%;height: 210px; width: 80%;color: #444444;font-size: 0.9cm;margin-top: 30px;text-align: left;
            padding-left: 20px;padding-top: 20px;
            background-image: url('/static/Images/intro_icon2.png');background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;">
                参评用户任何网络渠道及新媒体用户投票，每人每日仅允许投票一次，投票设置防作弊系统，公平公正公开获得品牌热度。
            </div>


                   {# 时间日程 #}
            <div style="width: 100%">
                <div style="float: left;margin-left: 30px;height: 70px; width: 240px;color: white;font-size: 1.2cm;margin-top: 30px;float: left;
                background-image: url('/static/Images/intro_icon1.png');background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;">
                    活动时间
                </div>
            </div>

            <div style="float: left;margin-left: 10%;height: 140px; width: 80%;color: #444444;font-size: 0.9cm;margin-top: 30px;text-align: left;
            padding-left: 20px;padding-top: 30px;
            background-image: url('/static/Images/intro_icon2.png');background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;">
{#                1、开始日期： {{ start_date }}<br />#}
{#                2、结束日期： {{ stop_date }}#}
                开启时间：2017年11月21日18:00分<br />
                结束时间：2017年11月28日00:00分
            </div>
        </div>



        </div>

        {#   协办品牌     #}
        <div style="margin-top: 30px;width: 590px;height: 100px;margin-bottom: 10px">
{#            <img src="/static/Images/xbpp.png" style="width: 590px;height: 340px;margin-bottom: 30px">#}
        </div>


</body>
</html>